body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px; /* Set a standard base font size */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: url('images/header-background.jpg') no-repeat center center/cover;
    padding: 50px;
    text-align: center;
    color: rgb(37, 36, 36);
    background-size: cover;
  }
  
.header-content {
    display: inline-block;
    background: rgba(255, 255, 255, 0.6); /* White background with opacity */
    backdrop-filter: blur(2px); /* Blur effect for the background */
    padding: 20px;
    width: 50%; /* Adjust the width as needed */
    max-width: 1200px; /* Optional: maximum width of the content */
    border-radius: 10px; /* Optional: if you want rounded corners */
    margin: auto; /* This will center the content */
}

.resume-button .fa-download {
    margin-left: 5px;
}
  

h1 {
    margin-bottom: 15px;
    font-size: 2em; /* 32px if base is 16px */
}

h2 {
    margin-bottom: 15px;
    font-size: 1.75em; /* 28px if base is 16px */
}

h3 {
    margin-bottom: 15px;
    font-size: 1.75em; /* 24px if base is 16px */
}

p {
    margin-bottom: 15px;
    font-size: 1em; /* 16px to match the body font size */
}

.duration {
    text-align: right;
}

.contact-info {
    display: flex;
    justify-content: space-between; /* Or 'space-between' depending on how much space you want between them */
}
  
.contact-info p {
    margin: 0; /* Remove default margin */
    padding: 0.5em; /* Optional padding for better spacing */
}
  

.resume-button {
    display: inline-block;
    padding: 12px 25px;
    background-color: #0056b3;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    margin-top: 20px; /* Spacing from the text above */
  }

.resume-button:hover {
    background-color: #003d82; /* Darker shade for hover effect */
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Add shadow for depth */
    cursor: pointer;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
}

/* Navigation Menu Styles */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    position: relative;
}

nav a {
    display: block;
    padding: 10px;
    color: rgb(35, 33, 33); /* Adjust color as needed */
    text-decoration: none;
}

/* Dropdown Menu Styles */
.dropdown {
    display: none;
    position: absolute;
    background-color: #efeaea; /* Dropdown background color */
    box-shadow: 0px 8px 16px 0px rgba(249, 248, 248, 0.2);
    z-index: 1;
}

.dropdown li {
    float: none;
}

.dropdown li a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Show the dropdown on hover */
nav ul li:hover .dropdown {
    display: block;
}


.project-header {
    display: flex;
    justify-content: space-between; /* This will push the duration to the right */
    align-items: center; /* Aligns items along the baseline of the container */
}


.experience-tile, .project-tile {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 1em; /* Set the font size as per your preference */
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.experience-description, .project-description {
    background-color: #f4f4f4;
    padding: 10px;
    border-left: 3px solid #0056b3;
    display: none; /* Initially hidden */
    margin-bottom: 15px; /* Space after the description */
    text-align: justify;
    text-justify: inter-word;
}

/* Adjust hover effect for both types of tiles */
.experience-tile:hover, .project-tile:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* More pronounced shadow on hover */
}

.experience-tile h3, .project-tile h3 {
    font-size: 1em; /* Adjust font size as necessary */
    margin: 0; /* Reset margin */
}


.experience-header {
    display: flex;
    justify-content: space-between; /* This will push the duration to the right */
    align-items: center; /* Aligns items along the baseline of the container */
}

